body {
  background-color: #c4c4c4;
}
.conteiner {
  padding: 50px 50px;
  margin: 0 auto;
}

.conteiner-01 {
  display: block;
  width: 100%;
  height: 200px;
  margin: 50px 0;
  background-color: #e6e6e6;
}
.box1-01 {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  height: 200px;
  width: 200px;
  background-color: #fc8f8f;
  float: left;
}
.box1-02 {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  height: 200px;
  width: 200px;
  background-color: #fc8f8f;
  float: right;
}
.container-02 {
  display: block;
  width: 100%;
  height: 200px;
  margin: 50px 0;
  background-color: #e6e6e6;
}
.box2-01 {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  height: 200px;
  width: 200px;
  background-color: #fc8f8f;
  float: left;
}
.float_box01 {
  float: right;
}
.box2-02,
.box2-03,
.box2-04,
.box2-05 {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  float: left;
  height: 100px;
  width: 100px;
  margin-left: 15px;
  background-color: #fc8f8f;
}
.conteiner-03 {
  display: block;
  width: 100%;
  height: 200px;
  margin: 50px 0;
  background-color: #e6e6e6;
}
.box3-01,
.box3-02 {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  height: 200px;
  width: 200px;
  margin-right: 15px;
  background-color: #fc8f8f;
  float: left;
}
.box3-03,
.box3-04 {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  height: 200px;
  width: 200px;
  margin-left: 15px;
  background-color: #fc8f8f;
  float: left;
}
